bs4
click
yaspin
pysocks
requests
python-dotenv
langchain-openai
langchain-ollama
langchain-anthropic
langchain_community
langchain-google-genai
pandas
langdetect
googletrans==4.0.0-rc1
pdfplumber
pytesseract
Pillow
schedule
croniter
fastapi
uvicorn
sse-starlette
